# Macros
[attr]adb   linguist-language=Adblock linguist-detectable
[attr]hosts linguist-language=Hosts   linguist-generated

# Fix highlighting and classification of files on GitHub
filters/** adb
hosts/** adb
test/* adb
hosts.txt hosts
hosts_blokada.txt hosts
it adb
it0 adb
*.md -adb -hosts
